server{
	server_name         {{ host_name }};
	listen              443 ssl;
	ssl_certificate     /etc/letsencrypt/live/{{ host_name }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ host_name }}/privkey.pem;

	location /api {
		proxy_pass http://localhost:3000;
	}

	index index.html;

	location / {
		root /home/dragontaro/public;
	}
}

server{
	listen      80;

	location ^~ /.well-known/acme-challenge/ {
		default_type "text/plain";
		root         /var/www;
	}

	server_name {{ host_name }};
	return 301 https://{{ host_name }};
}
