[Unit]
Description = This is a server for Drinking Microcomputer.

[Service]
WorkingDirectory = /var/www/server

ExecStart = /var/www/server/server
ExecStop = /bin/kill -HUP $MAINPID
ExecReload = /bin/kill -HUP $MAINPID && /var/www/server/server

Restart = always

Type = simple

[Install]
WantedBy = multi-user.target
